/***************************************************************************
 *
 *  ABOUT
 *
 ***************************************************************************/

body {
    background: url(../images/about/main-photo.jpg) no-repeat;
    background-size: cover;
}

#content {
    padding-top: 121px;
}

.contentBox {
    background: url(../images/about/content-photo.jpg) no-repeat;
    padding: 120px 0 70px;
    background-size: cover;
    margin-top: 152px;
}

.wrapText {
    width: 794px;
    margin: 72px auto 0;
    text-align: left;
    letter-spacing: 0.4px;
    line-height: 1.88;
}

.areaAbout {
    text-align: center;
    margin-bottom: 130px;
}

.areaAbout .areaTop .wrapText {
    margin-top: 42px;
    width: 801px;
    letter-spacing: 0.46px;
    font-weight: 500;
}

.slide {
    background: #fff;
    width: 1092px;
    padding: 28px 40px 55px 50px;
    margin-left: -19px;
    margin-top: 53px;
}

.slide li {
    display: flex !important;
    justify-content: space-between;
    width: 1000px;
    margin: 0 7px;
}

.slidePhoto {
    width: 43.2%;
}

.slidePhoto img {
    width: 100%;
}

.slideContent {
    text-align: left;
    width: 53%;
    padding: 9.5px 0 0;
}

.slideContent .type {
    display: inline-block;
    font-size: 13px;
    color: #B6BE54;
    background: #E7EAC7;
    padding: 0 9px 0 6px;
    margin-left: 3px;
}

.slideContent .slideTitle {
    font-size: 17px;
    color: #9EA91C;
    margin: 4px 8px 0;
}

.slideContent .communications {
    padding-top: 18px;
}

.communications .communicationsDetails {
    font-size: 15px;
    border-top: 1px solid #9EA91C;
    padding: 16px 27px 14.6px;
    letter-spacing: 1px;
}

.communications .communicationsDetails span:first-child {
    display: inline-block;
    width: 20.9%;
    color: #999999;
    letter-spacing: 0;
}

.slick-prev {
    background: url(../images/about/icon-prev.svg) no-repeat;
    background-size: cover;
    left: -17px;
}

.slick-next {
    background: url(../images/about/icon-next.svg) no-repeat;
    background-size: cover;
    right: -24px;
}

.slick-prev,
.slick-next {
    top: 45.5%;
    width: 25px;
    height: 25px;
}

.slick-prev:before,
.slick-next:before {
    color: unset;
}

.slick-prev:hover,
.slick-prev:focus {
    background: url(../images/about/icon-prev.svg) no-repeat;
}

.slick-next:hover,
.slick-next:focus {
    background: url(../images/about/icon-next.svg) no-repeat;
}

@media (max-width:768px) {
    #content {
        padding-top: 29px;
    }
    .contentBox {
        margin-top: 90px;
        padding: 65px 0 75px;
    }
    .areaTop .wrapText {
        width: 100%;
        margin: 17px auto 0;
        letter-spacing: -0.6px;
    }
    .areaAbout .areaTop .wrapText {
        margin-top: 16px;
        letter-spacing: -1.4px;
        width: 100%;
    }
    .slide {
        width: 100%;
        margin-left: 0;
        margin-top: 23px;
        padding: 29px 4px 4px;
    }
    .slide li {
        display: inline-block !important;
        flex-direction: column;
        width: 100%;
        margin: 0 8px;
    }
    .slideContent {
        width: 100%;
        padding: 43px 0 0;
    }
    .slideContent .type {
        margin-left: 2px;
    }
    .slideContent .slideTitle {
        margin: 3px 3px 0;
    }
    .slideContent .communications {
        padding-top: 16px;
    }
    .communications .communicationsDetails {
        font-size: 13px;
        padding: 17px 0 20px 9.6px;
        display: flex;
    }
    .communications .communicationsDetails span:first-child {
        width: 22.3%;
        vertical-align: top;
    }
    .communications .communicationsDetails span:last-child {
        width: calc(100% - 19.8%);
    }
    .slidePhoto {
        width: 96.9%;
        margin: 0 auto;
    }
    .slick-next {
        right: 0;
    }
    .areaAbout {
        margin-bottom: 37px;
    }
    .slick-prev,
    .slick-next {
        top: 21.2%;
    }
    .slick-prev {
        left: 0;
        z-index: 1;
    }
    .slick-dots {
        position: absolute;
        top: 74.9vw;
    }
    .slick-dots li {
        width: auto;
        margin: 0;
    }
    .slick-dots li button:before {
        top: 2px;
        left: 1px;
    }
    .slick-dots li button {
        width: 18px;
        height: 20px;
    }
    .slick-dots li.slick-active button:before {
        background: url(../images/index/dot-active-slide.png) no-repeat;
        background-size: 7px 7px;
    }
    .slick-dots li button:before {
        content: "";
        background: url(../images/index/dot-slide.png) no-repeat;
        background-size: 8px 8px;
        width: 8px;
        height: 8px;
        opacity: 1;
    }
}