/***************************************************************************
 *
 *  ACCESS
 *
 ***************************************************************************/

body {
    background: url(../images/about/main-photo.jpg) no-repeat;
    background-size: cover;
}

#content {
    padding-top: 123px;
}

.wrapTitle .areaTitle {
    margin-bottom: 5px;
}

.wrapText {
    width: 795px;
    margin: 67px auto 0;
    text-align: left;
    line-height: 1.88;
}

.areaAccessTop {
    margin-bottom: 132px;
}


/* areaMap */

.areaAbout {
    padding-bottom: 25px;
}

.areaAbout .aboutDetails {
    width: 923px;
    margin: 0 auto 85px;
}

.aboutDetails .aboutTitle {
    position: relative;
    font-size: 23px;
    padding-left: 79px;
    color: #656565;
    margin-bottom: 38px;
    font-weight: 500;
}

.aboutDetails .aboutTitle span {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 5.9%;
}

.area .aboutTitle span {
    top: -6px;
    left: 0px;
    width: 5.1%;
}

.area .aboutTitle {
    margin-bottom: 30px;
}


/* areaMap */

.areaMap {
    text-align: center;
    padding-bottom: 30px;
}

.areaMap .mapDetails {
    margin-bottom: 63px;
}

.mapDetails .maptitle {
    font-size: 17px;
    color: #333333;
    margin-bottom: 25px;
}


/* areaTutorial */

.areaTutorial {
    padding-bottom: 142px;
}

.areaTutorial .tutorialDetails {
    width: 800px;
    margin: 0 auto 24px;
}

.tutorialDetails .tutorialTitle {
    font-size: 21px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 14px;
}

.tutorialDetails .listTutorial {
    display: block;
    border-top: 2px solid #9EA91C;
    padding: 26px 0;
}

.tutorialDetails .listTutorial li {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #333333;
    font-weight: bold;
    margin-left: -7px;
    letter-spacing: 0.8px;
    margin-bottom: 12px;
}

.tutorialDetails .listTutorial li span {
    font-weight: 400;
    width: 63.2%;
    letter-spacing: 0.3px;
}

.listTutorial li a {
    text-decoration: revert;
}

@media (min-width:769px) {
    .listTutorial li a {
        pointer-events: none;
    }
}

@media (max-width:769px) {
    #content {
        padding-top: 30px;
    }
    .wrapTitle .areaTitle {
        margin-bottom: -1px;
    }
    .wrapText {
        width: 100%;
        margin: 15px auto 0;
        letter-spacing: -0.6px;
    }
    .areaAccessTop {
        margin-bottom: 57px;
    }
    .areaAbout .aboutDetails {
        width: 100%;
        margin: 0 auto 83px;
    }
    .aboutDetails .aboutTitle {
        font-size: 16px;
        padding-left: 10%;
        margin-bottom: 28px;
    }
    .aboutDetails .aboutTitle span {
        top: 3px;
        left: 1px;
        width: 7.2%;
    }
    .aboutPhoto img {
        width: 100%;
    }
    .areaTutorial .tutorialDetails {
        width: 100%;
    }
    .area .aboutTitle span {
        top: 2px;
        left: -1.5px;
    }
    .area .aboutTitle {
        margin-bottom: 29px;
    }
    .mapPhoto {
        width: 88%;
        margin: auto;
    }
    .areaAbout {
        padding-bottom: 0;
    }
    .areaAbout .aboutDetails.area {
        margin-bottom: 65px;
    }
    .mapDetails .maptitle {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .areaMap .mapDetails {
        margin-bottom: 36px;
    }
    .areaMap {
        padding-bottom: 41px;
    }
    .tutorialDetails .tutorialTitle {
        font-size: 17px;
        padding-left: 8px;
        margin-bottom: 4px;
    }
    .tutorialDetails .listTutorial {
        padding: 16px 0;
    }
    .tutorialDetails .listTutorial li {
        flex-direction: column;
        font-size: 14px;
        margin-left: -6px;
        margin-bottom: 13px;
    }
    .tutorialDetails .listTutorial li span {
        width: 100%;
        margin-left: 17px;
        margin-top: 3px;
        line-height: 1.4;
        letter-spacing: 0.5px;
    }
    .areaTutorial {
        padding-bottom: 73px;
    }
}