@charset "utf-8";

@import url("base.css");

/***************************************************************************
 *
 * COMMON STYLE
 *
 ***************************************************************************/
@font-face {
    font-family: 'Gabriola';
    src: url('../fonts/Gabriola.eot');
    src: url('../fonts/Gabriola.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gabriola.woff2') format('woff2'),
        url('../fonts/Gabriola.woff') format('woff'),
        url('../fonts/Gabriola.svg#Gabriola') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gabriola {
    font-family: 'Gabriola';
    color: #e7c897;
}

.notoSerif {
    font-family: 'Noto Serif JP', serif;
}

.notoSan {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background: #fff url(../images/common/map-bg.png) no-repeat top center;
    background-size: 100%;
    font-size: 15px;
    line-height: 1.5;
    color: #555555;
    font-family: 'Noto Sans JP', sans-serif;

}

body.fixed {
    overflow: hidden;
}

.inner {
    width: 1062px;
    margin: 0 auto;
}

/*VALIDATE CONTACT*/
.error {
    display: block;
    font-size: 12px;
    color: red;
}

/* HEADER */
#header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 38px 0 25px;
    z-index: 9;
    transition: all 0.3s;
}

#header.fix{
    background: #fff;
}



#header .inner {
    width: 1002px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}

#header .mainMenu {
    width: 690px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: -12px 14px 0 0;
}

#header .mainMenu .menu {
    display: flex;
    justify-content: space-between;
    width: 639px;

}

#header .mainMenu .menu li {
    overflow: hidden;
}

#header .mainMenu .menu li a {
    font-size: 16px;
    position: relative;

}

#header .mainMenu .menu li a:after {
    content: "";
    position: absolute;
    background: #000;
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}

#header .mainMenu .boxSearch {
    position: relative;
}

#header .mainMenu .boxSearch .searchIcon {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 3px 0 0;
}


#header .mainMenu .boxSearch .searchBtn {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    width: 99.6%;
    border: none;
    background: #929b00;
    color: #fff;
    padding-bottom: 4px;

}

/* CONTENT */
#content {
    width: 100%;
    padding-top: 124px;
}

/*areaTitle*/

.wrapTitle {
    text-align: center;
}

.wrapTitle .boxTitle {
    display: inline-block;
    position: relative;
    padding-right: 55px;
}

.wrapTitle .boxTitle:after {
    content: "";
    position: absolute;
    background: url(../images/common/icon-leaf.svg) no-repeat;
    background-size: 100%;
    width: 37px;
    height: 48px;
    right: 0;
    top: -2px;
}

.wrapTitle .areaTitle {
    font-size: 23px;
    font-weight: 500;
    color: #9ea91c;
    display: inline-block;
    margin-bottom: 1px;
    position: relative;
}


.wrapTitle .enTitle {
    font-size: 16px;
    font-weight: 400;
    display: block;
    letter-spacing: 1px;
}

/*linkBtn*/
.linkBtn {
    width: 210px;
    margin: 0 auto;
}

.linkBtn a {
    width: 82.8%;
    border: 1px solid #222222;
    padding: 10px 20px 11px;
    font-size: 15px;
    position: relative;
    display: block;
    transition: all 0.3s;
}


.linkBtn a:after {
    content: "";
    position: absolute;
    background: url(../images/common/arrow-btn-link.svg) no-repeat;
    background-size: 32px 8px;
    width: 32px;
    height: 8px;
    left: 161px;
    top: 17px;
}


/* POST LIST */
.postList {
    width: 100%;
    margin-top: 93px;
    display: flex;
    flex-wrap: wrap;
}

.postList .listItem {
    width: 318px;
    margin-right: 22px;
    margin-bottom: 30px;
}

.postList .listItem:nth-child(3n) {
    margin-right: 0;
}

.postList .listItem .wrapPhoto {
    width: 100%;
    position: relative;
}

.postList .listItem .photo {
    width: 320px;
    height: 200px;
}

.postList .listItem .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postList .listItem .postTags {
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.postList .listItem .postTags li {
    margin-right: 10px;
}

.postList .listItem .postTags li a {
    display: inline-block;
    font-size: 13px;
    color: #FFF;
    background-color: #B9C17E;
    line-height: 1.4;
    border-radius: 10px;
    padding: 0px 11px;
}

.postList .listItem .wrapPhoto .cate {
    position: absolute;
    top: 18px;
    left: -24px;
    font-size: 16px;
    text-align: center;
    width: 106px;
    transform: rotateZ(315.5deg);
    z-index: 10;
}
.postList .listItem .wrapPhoto .cate a {
    position: relative;
    z-index: 10;
    display: block;
    color: #fff;
    top: -2px;
}
.postList .listItem .wrapPhoto .cate .catColor {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 54px solid transparent;
    border-right: 54px solid transparent;
    border-bottom: 54px solid #b9c15b;
    z-index: 5;
}

.postList .listItem .listItemTitle {
    width: 100%;
    border: 1px solid #E2E2DC;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.8;
    background-color: #FFF;
    padding: 13px 16px 20px;
    margin-top: 9px;
}

.postList .listItem .listItemTitle a {
    color: #777777;
}

/* PAGINAVIGATION */
.pagiNav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.pagiNav .pagiItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pagiNav .pagiItems li {
    text-align: center;
    margin: 0 9px;
}

.pagiNav .pagiItems li a {
    color: #CFCFCF;
    font-weight: bold;
}

.pagiNav .pagiItems li.control {
    width: 25px;
}

.pagiNav .pagiItems li.prev {
    margin-right: 40px;
}

.pagiNav .pagiItems li.next {
    margin-left: 40px;
}

.pagiNav .pagiItems li.active a,
.pagiNav .pagiItems li:not(.dots) a:hover {
    color: #9EA91C;
}

.pagiNav .pagiItems li.dots a {
    font-weight: normal;
}

/* FOOTER */

#footer {
    width: 100%;
    position: relative;
    background: url(../images/common/footer-bg.png) no-repeat top center;
    background-size: 100%;
    padding: 38px 0 28px;
}

#footer:after {
    content: "";
    position: absolute;
    background: url(../images/common/haft-around.png) no-repeat;
    background-size: 100%;
    width: 182px;
    height: 40px;
    left: 49.9%;
    top: -39px;
    transform: translateX(-50%);
}

#footer:before {
    content: "";
    position: absolute;
    background: url(../images/common/icon-tree.png) no-repeat;
    background-size: 100%;
    width: 161px;
    height: 105px;
    right: 173px;
    top: -104px;
}

#footer .ftLogo {
    text-align: center;
    margin-bottom: 38px;
}

.choiceLanguage {
    position: fixed;
    bottom: 0;
    left: 0;
}

.choiceLanguage #google_language_translator select.goog-te-combo {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/common/arrow-select.svg) no-repeat right 20px center/15px 8px,
        url(../images/common/icon-lang.png) no-repeat left 30px top 17px/22px 16px, #fff;
    height: 56px !important;
    padding-left: 57px !important;
    color: #333333;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Noto Serif JP', serif;
    width: 392px;
    border: 2px solid #929b00 !important;
    line-height: 2;
    margin: 0;
}

#footer .boxInfo {
    text-align: center;
    color: #fff;
    width: 382px;
    margin: 0 auto 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 24px 0 21px;
}

#footer .boxInfo .infoTitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 11px;
}

#footer .boxInfo .info {
    letter-spacing: 0.3px;
}

#footer .boxInfo .info .textTel {
    display: inline-block;
}

#footer .boxInfo .info .textFax {
    display: inline-block;
    line-height: 1.3;
    transform: translateY(-5px)
}

#footer .boxInfo .info a {
    color: #fff;
}

#footer .listSoci {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 76px;
}

#footer .listSoci li {
    margin: 0 4.4px;
    width: 26px;
}

#copyright {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.sp {
    display: none;
}

/* FIX TABLET */
@media (max-width: 1230px) and (min-width: 769px) {
    body {
        width: 1367px;
    }
}

@media(min-width: 769px) {
    #header.scrollX {
        width: 1367px;
    }
    #header .mainMenu .boxSearch .headerSearch {
        border: 1px solid #929b00;
        font-size: 16px;
        height: 35px;
        padding: 4px 10px;
        width: 89%;
    }

    #header .mainMenu .boxSearch {
        opacity: 0;
        position: absolute;
        right: 0;
        top: 26px;
        padding: 5px 8px;
        width: 227px;
        background: #fff;
        transition: all 0.5s;
        border: 1px solid rgba(204, 204, 204, 0.34);
        pointer-events: none;
        z-index: -2;
    }

    #header .mainMenu .boxSearch.show {
        opacity: 1;
        pointer-events: inherit;
        z-index: 3;
    }

    #footer .boxInfo .info .tel {
        pointer-events: none;
    }

    .linkBtn a:hover {
        width: 100%;
    }

    #header .mainMenu .menu li a:hover:after {
        width: 100%;
    }

    #header .mainMenu .boxSearch .headerSearch::placeholder {
        color: transparent;
    }
}


/* STYLE MOBILE */
@media (max-width: 768px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .inner {
        width: 100%;
        padding: 0 4%;
    }

    /* MENU */
    .hamburger {
        width: 38px;
        height: 31px;
        padding: 0 3px;
        z-index: 9991;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .hamburger span {
        display: block;
        height: 1px;
        width: 100%;
        background: #9ea91c;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .hamburger span:nth-child(1) {
        margin-bottom: 12px;
    }

    .hamburger span:nth-child(2) {
        opacity: 1
    }

    .hamburger span:nth-child(3) {
        margin-top: 12px;
    }

    .hamburger.open span:nth-child(1) {
        margin-bottom: 2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        margin-top: -3px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #header {
        padding: 21px 0 10px;
    }

    #header .mainMenu {
        display: none;
        position: fixed;
        background: rgba(255, 255, 255, 0.90);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        padding: 129px 0 100px;
        overflow-y: auto;
    }

    #header .inner {
        width: 100%;
        padding: 0 5%
    }

    #header .headerBar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #header .headerBar .logo {
        margin-left: 2px;
        position: relative;
        z-index: 9;
    }

    #header .mainMenu .menu {
        width: 100%;
        display: block;
        margin-bottom: 37px;
    }

    #header .mainMenu .menu li {
        text-align: center;
        padding: 14px 0 12px 27px;
    }

    #header .mainMenu .menu li .text {
        display: inline-block;
        vertical-align: middle;
        min-width: 96px;
        margin-right: 16px;
    }

    #header .mainMenu .menu li .arrow {
        display: inline-block;
        vertical-align: middle;
        line-height: 0.6;
    }

    #header .mainMenu .boxSearch .headerSearch {
        opacity: 1;
        position: static;
        width: 275px;
        margin: 0 auto;
        display: block;
        height: 44px;
        padding: 0 14px;
        border: 1px solid #4c4c4c;
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 16px;
        background: #fff url(../images/common/icon-search-sp.svg) no-repeat right 15px center;
        background-size: 17px 17px;
    }
    #header .mainMenu .boxSearch .headerSearch::placeholder {
        color: #d2d2d2;
        font-size: 14px;
    }

    .wrapTitle .areaTitle {
        font-size: 20px;
    }

    .wrapTitle .boxTitle {
        padding-right: 34px;
    }

    .wrapTitle .boxTitle:after {
        width: 27px;
        height: 35px;
        right: 0;
        top: 4px;
    }

    .wrapTitle .enTitle {
        font-size: 14px;
    }

    .linkBtn {
        position: relative;
        left: 22px;
    }

    /* POST LIST */
    .postList {
        justify-content: space-between;
        margin-top: 40px;
    }

    .postList .listItem {
        width: 48.5%;
        margin: 0 0 20px;
    }

    .postList .listItem .postTags {
        padding: 7px;
    }

    .postList .listItem .postTags li {
        margin-right: 5px;
    }

    .postList .listItem .postTags li a {
        font-size: 10px;
        padding: 0px 8px;
    }

    .postList .listItem .wrapPhoto .cate {
        width: 80px;
        top: 13px;
        left: -18px;
        font-size: 11px;
        transform: rotateZ(315deg);
    }
    .postList .listItem .wrapPhoto .cate .catColor {
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 40px solid #b9c15b;
    }

    .postList .listItem .listItemTitle {
        font-size: 12px;
        line-height: 1.6;
        padding: 8px 8px 7px;
    }

    .postList .listItem .photo {
        width: 100%; 
        height: auto;
    }

    /* PAGI NAV */
    .pagiNav {
        margin-top: 35px;
    }

    .pagiNav .pagiItems li {
        margin: 0 8px;
    }

    .pagiNav .pagiItems li.control {
        width: 27px;
    }

    .pagiNav .pagiItems li.prev {
        margin-right: 35px;
    }

    .pagiNav .pagiItems li.next {
        margin-left: 35px;
    }


    #footer {
        background: url(../images/common/footer-bg-sp.png) no-repeat top center;
        background-size: 100% 100%;
        padding: 39px 0 18px;
    }

    #footer:after {
        background: url(../images/common/haft-around-sp.png) no-repeat;
        background-size: 100%;
        width: 119px;
        height: 35px;
        top: -35px;
    }

    #footer:before {
        content: "";
        position: absolute;
        background: url(../images/common/icon-tree-sp.png) no-repeat;
        background-size: 100%;
        width: 93px;
        height: 60px;
        right: 14px;
        top: -59px;
    }

    #footer .ftLogo {
        margin-bottom: 41px;
    }

    #footer .ftLogo a {
        width: 107px;
        display: block;
        margin: 0 auto;
    }

    .choiceLanguage #google_language_translator select.goog-te-combo {
        background: url(../images/common/arrow-select.svg) no-repeat right 12px center/9px 5px,
            url(../images/common/icon-lang.png) no-repeat left 10px top 10px/22px 16px, #fff;
        font-size: 12px;
        height: 42px !important;
        width: 158px !important;
        padding-left: 38px !important;
    }

    #footer .boxInfo .infoTitle {
        font-size: 18px;
        margin-bottom: 13px;
    }

    #footer .listSoci {
        width: 133px;
        margin: 0 auto 42px;
    }

    #footer .listSoci li {
        width: 41px;
        padding: 4.5px 0 4.5px;
        margin: 0 6px;
    }

    #footer .boxInfo {
        width: 100%;
        font-size: 13px;
        padding: 17px 0 11px;
        margin: 0 auto 24px;
    }

    #footer .boxInfo .info {
        line-height: 1.7;
    }

    #footer .boxInfo .info .textFax {
        transform: translateY(-5px);
    }

    #copyright {
        font-size: 14px;
    }

}

/*IE FIX*/
@media all and (-ms-high-contrast:none) {
    #header .mainMenu .boxSearch .headerSearch:-ms-input-placeholder { 
      color: transparent;
    }
    .choiceLanguage select{
        background: url(../images/common/arrow-select.svg) no-repeat right 20px center/15px 8px,
                url(../images/common/icon-lang.png) no-repeat left 30px top 19px/22px 16px, #fff;
    }
}

.choiceLanguage select::-ms-expand {
    display: none;
}

.choiceLanguage select:focus::-ms-value {
    color: black;
    background: #fff;
}