/***************************************************************************
 *
 *  CONTACT
 *
 ***************************************************************************/

body {
    background: none;
}
.areaContact {
    padding-bottom: 139px;
}
.areaContact .wrapTitle {
    margin-bottom: 50px;
}
.areaContact .boxInfo {
    width: 800px;
    margin: 0 auto;
    border: 1px solid #9ea91c;
    padding-bottom: 17px;
}
.areaContact .boxInfo.green {
    margin-bottom: 20px;
}
.areaContact .boxInfo.orange {
    border: 1px solid #e7a67a;
    margin-bottom: 45px;
}
.areaContact .boxInfo .colLabel {
    width: 290px;
    display: inline-block;
    vertical-align: top;
}
.areaContact .boxInfo .colLabel .colLabelTitle {
    color: #fff;
    background: #9ea91c;
    padding: 5px 5px 6px 27px;
    font-weight: 400;
}
.areaContact .boxInfo.orange .colLabel .colLabelTitle {
    background: #e7a67a;
}
.areaContact .boxInfo .colLabel .tourismTitle {
    color: #9ea91c;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 0 0 29px;
    letter-spacing: 0.1px;
}
.areaContact .boxInfo.orange .colLabel .tourismTitle {
    color: #e7a67a;
}
.areaContact .boxInfo .colLabel .tourismTitle .minText {
    font-size: 15px;
    letter-spacing: 1.3px;
    display: inline-block;
    margin-left: 3px;
}
.areaContact .boxInfo .infoCt {
    display: inline-block;
    vertical-align: top;
}
.areaContact .boxInfo .infoCt .info {
    padding: 14px 0 0 35px;
    letter-spacing: 0.8px;
}
.areaContact .boxInfo .infoCt .info .tel {
    text-decoration: underline;
    color: #636363;
}
.areaContact .boxInfo .infoCt .info .tel:hover {
    text-decoration: none;
}
.areaContact .boxInfo .infoCt .info .fax {
    color: #636363;
}
.areaContact .introText {
    text-align: center;
    color: #000;
    line-height: 1.9;
    margin-bottom: 61px;
}
.areaContact .formContact {
    width: 760px;
    margin: 0 auto;
}
.areaContact .formContact .formItem {
    margin-bottom: 26px;
}
.areaContact .formContact .formItem .nameForm {
    color: #666666;
    margin-bottom: 19px;
}
.areaContact .formContact .formItem .nameForm .nametl {
    margin-left: 10px;
}
.areaContact .formContact .formItem .inputForm .inputStyle {
    font-family: 'Noto Serif JP', serif;
    border: none;
    background: #f2f2f2;
    padding: 0 20px;
    height: 60px;
    width: 100%;
    padding-bottom: 1px;
}
.areaContact .formContact .formItem .inputForm .inputStyle::placeholder {
    font-family: 'Noto Serif JP', serif;
    color: #cdcdcd;
}
.areaContact .formContact .formItem .inputForm textarea.inputStyle {
    padding-top: 13px;
    height: 182px;
    resize: none;
}
.areaContact .checkAgree {
    text-align: center;
    margin: 67px 0 36px;
}
.areaContact .checkAgree .checkLabel input {
    opacity: 0;
}
.areaContact .checkAgree .checkLabel .wpcf7-list-item-label {
    color: #333333;
    position: relative;
    padding-left: 7px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Noto Serif JP', serif;
}
.areaContact .checkAgree .checkLabel .wpcf7-list-item-label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: -16px;
    width: 12px;
    height: 13px;
    background: url(../images/common/icon_checked.png) no-repeat center center;
    background-size: 100%;
    opacity: 0;
    transition: all 200ms linear;
}
.areaContact .checkAgree .checkLabel .wpcf7-list-item-label:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    width: 14px;
    height: 14px;
    border: 1px solid #666666;
}
.areaContact .checkAgree .checkLabel input:checked~.wpcf7-list-item-label:after {
    opacity: 1;
}
.btnSend {
    width: 260px;
    margin: 0 auto;
}
.btnSend input {
    width: 100%;
    height: 50px;
    color: #fff;
    background: #666666;
    font-family: 'Noto Serif JP', serif;
    font-size: 18px;
    border: none;
    padding-bottom: 5px;
    opacity: 0.7;
}
.btnSend .confirm.clickbtn {
    opacity: 1;
}
@media(min-width: 769px) {
    .areaContact .boxInfo .infoCt .info .tel {
        pointer-events: none;
    }
}
@media (max-width: 768px) {
    .areaContact {
        padding-bottom: 121px;
    }
    .areaContact .boxInfo {
        width: 100%;
        padding-bottom: 15px;
    }
    .areaContact .boxInfo.orange {
        margin-bottom: 70px;
    }
    .areaContact .formContact {
        width: 100%;
    }
    .areaContact .wrapTitle {
        margin-bottom: 22px;
    }
    .areaContact .boxInfo .colLabel {
        width: 100%;
    }
    .areaContact .boxInfo .colLabel .colLabelTitle {
        display: inline-block;
        padding: 5px 19px 6px 19px;
    }
    .areaContact .boxInfo .colLabel .tourismTitle {
        padding: 14px 0 0 20px;
    }
    .areaContact .boxInfo .infoCt .info {
        padding: 8px 0 0 21px;
        letter-spacing: 0.5px;
    }
    .areaContact .introText {
        overflow: hidden;
        width: 108.6%;
        margin-left: -4.3%;
        background: url(../images/contact/contact-bg.jpg) no-repeat top center;
        background-size: 100%;
        padding-top: 67px;
        line-height: 1.75;
        padding-bottom: 63px;
        margin-bottom: 0;
    }
    .areaContact .introText .mgb {
        display: block;
        margin-bottom: -2px;
    }
    .areaContact .introText .mgb2 {
        display: inline-block;
        margin-bottom: 37px;
    }
    .areaContact .checkAgree {
        margin: 48px 0 36px;
    }
    .areaContact .checkAgree .checkLabel {
        margin-left: 15px;
    }
    .areaContact .checkAgree .checkLabel .wpcf7-list-item-label {
        padding-left: 6px;
    }
    .areaContact .formContact .formItem .inputForm .inputStyle {
        font-size: 16px;
    }
    .areaContact .formContact .formItem .inputForm .inputStyle::placeholder {
        font-size: 15px;
    }
    .btnSend {
        width: 243px;
    }
    .btnSend input {
        font-size: 17px;
    }
}