@charset "utf-8";

/***************************************************************************
*
* INDEX STYLE
*
***************************************************************************/
#fixH{
    display: none !important;
}

body {
    background: #fff;
}

.main {
    position: relative;
    overflow: hidden;
    z-index: 4;
}

.main .inner {
    width: 1011px;
    margin-bottom: 59px;
}

.main .choiceLanguage {
    margin-left: 5px;
    position: inherit;
}
.main .choiceLanguage.fixedBot{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0;
    z-index: 2;
}

.main .choiceLanguage #google_language_translator select.goog-te-combo {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/common/arrow-select.svg) no-repeat right 12px center/9px 5px,
    url(../images/common/icon-lang.png) no-repeat left 10px top 10px/22px 16px, #fff;
    color: #333333;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Noto Serif JP', serif;
    height: 42px !important;
    width: 158px;
    border: 2px solid #929b00 !important;
    line-height: 2;
    padding-left: 38px !important;
    margin: 0;
}


.main .btnEx {
    margin-bottom: 28px;
    margin-top: -296px;
}
.main .btnEx.changeh{
    margin-bottom: 130px;
}

.main .btnEx a {
    display: block;
}

#content {
    background: #fff url(../images/common/map-bg.png) no-repeat top -2px center;
    background-size: 100%;
    padding-top: 92px;
}

/*areaSpecial*/
.areaSpecial {
    margin-bottom: 127px;
}

.areaSpecial .inner {
    width: 1080px;
}

.areaSpecial .wrapTitle {
    margin-bottom: 52px;
}

.areaSpecial .specialSlide {
    padding-bottom: 31px;
}

.areaSpecial .specialSlide .listItem {
    margin: 0 10px;
    padding: 0 0 10px 0;
}

.areaSpecial .specialSlide .listItem .wrapPhoto {
    position: relative;
    overflow: hidden;
}

.areaSpecial .specialSlide .listItem .wrapPhoto .photo {
    margin-bottom: 10px;

}

.areaSpecial .specialSlide .listItem .wrapPhoto .photo a {
    display: block;
}
.areaSpecial .specialSlide .listItem .wrapPhoto .photo a img{
    width: 100%;
}

.areaSpecial .specialSlide .listItem .wrapPhoto .cate {
    position: absolute;
    top: 18px;
    left: -24px;
    font-size: 16px;
    text-align: center;
    width: 106px;
    transform: rotateZ(315.5deg);
}

.areaSpecial .specialSlide .listItem .wrapPhoto .cate a {
    position: relative;
    z-index: 2;
    display: block;
    color: #fff;
    top: -2px;
    font-weight: 100;
}

.areaSpecial .specialSlide .listItem .wrapPhoto .cate .catColor {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 54px solid transparent;
    border-right: 54px solid transparent;
    border-bottom: 54px solid #b9c15b;
    z-index: 1;
}

.areaSpecial .specialSlide .listItem .listItemTitle {
    padding: 13px 15px 22px;
    border: 1px solid #e2e2dc;
    background: #fff;

}

.areaSpecial .specialSlide .listItem .listItemTitle a {
    color: #777777;
    font-weight: 400;
    line-height: 1.8;
}

.areaSpecial .slick-prev,
.areaSpecial .slick-prev:hover,
.areaSpecial .slick-prev:focus {
    background: url(../images/index/arrow-slide-prev.png) no-repeat;
    width: 26px;
    height: 26px;
    left: -27px;
    z-index: 3;
    top: 31.6%;
}

.areaSpecial .slick-next,
.areaSpecial .slick-next:hover,
.areaSpecial .slick-next:focus {
    background: url(../images/index/arrow-slide-next.png) no-repeat;
    width: 26px;
    height: 26px;
    right: -27px;
    top: 31.6%;
}

.slick-prev:before,
.slick-next:before {
    content: "";
    display: none;
}

.areaTourism {
    margin-bottom: 209px;
}

.areaTourism .wrapTitle {
    margin-bottom: 56px;
}

.areaTourism .listTourism {
    width: 806px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.areaTourism .listTourism li {
    width: 204px;
    margin-right: 97px;
    text-align: center;
    margin-bottom: 59px;
}

.areaTourism .listTourism li:nth-child(3n) {
    margin-right: 0;
}

.areaTourism .listTourism li .listTourismTitle {
    width: 194px;
    margin: 0 auto 38px;
    padding-bottom: 50px;
    border-bottom: 1px solid #9ea91c;
}

.areaTourism .listTourism li .yellow {
    border-bottom: 1px solid #d6c55e;
}

.areaTourism .listTourism li .orange {
    border-bottom: 1px solid #dea280;
}

.areaTourism .listTourism li .pink {
    border-bottom: 1px solid #e69bb2;
}

.areaTourism .listTourism li .violet {
    border-bottom: 1px solid #846d9d;
}

.areaTourism .listTourism li .green {
    border-bottom: 1px solid #94bda9;
}

/*.areaModel*/

.areaModel .inner {
    width: 100%;
    padding-bottom: 80px;
    background: url(../images/index/area-model-bg.png) repeat-x bottom center;
    background-size: 100% 266px;
    margin-bottom: 61px;
}

.areaModel .wrapTitle {
    margin-bottom: 53px;
}

.areaModel .listModel {
    overflow: hidden;
    width: 1062px;
    margin: 0 auto;
}

.areaModel .listModel li {
    float: left;
    width: 340px;
    margin-right: 20px;
}

.areaModel .listModel li:nth-child(3n) {
    margin-right: 0;
}

.areaModel .listModel li .modelPhoto {
    margin-bottom: 16px;
}

.areaModel .listModel li .modelPhoto a {
    display: block;
}

.areaModel .listModel li .listModelTitle a {
    font-size: 16px;
    color: #717171;
    font-weight: 500;
}

.areaModel .linkBtn {
    width: 296px;
    transform: translateX(41px);
    margin-bottom: 101px;
}

.areaModel .linkBtn a {
    font-size: 20px;
    padding: 15px 0 16px 66px;
    letter-spacing: 1.1px;
}

.areaModel .linkBtn a:after {
    background: url(../images/index/big-arrow.png) no-repeat;
    background-size: 44px 11px;
    width: 44px;
    height: 11px;
    left: 235px;
    top: 25px;
}

.areaModel .linkBtn a:before {
    content: "";
    position: absolute;
    background: url(../images/index/bg-foot.png) no-repeat;
    background-size: 75px 90px;
    width: 75px;
    height: 90px;
    left: 186px;
    bottom: 26px;
}

.areaModel .listAllCate {
    margin-bottom: 57px;
}

.areaModel .listAllCate .slick-list {
    margin-left: -322px;
}

.areaModel .listAllCate li {
    width: 266px;
    margin: 0 14.5px;
}
.areaModel .listAllCate li .photo img{
    width: 100%;
}

.areaModel .listAllCate li .allcateTitle {
    font-size: 16px;
    color: #717171;
    font-weight: 500;
    padding: 17px 10px;
    line-height: 1.8;
}

















.areaModel .fullPhoto {
    position: relative;
}

.areaModel .fullPhoto .natural img {
    width: 100%;
}

.areaModel .title {
    position: absolute;
    right: 166px;
    top: 61px;
}


/*.areaInstagram*/
.areaInstagram {
    padding: 93px 0 128px;
    background: url(../images/index/insta-bg.png) top center;
    background-size: 100%;
}

.areaInstagram .wrapTitle {
    margin-bottom: 53px;
}

.areaInstagram .listPhoto {
    width: 996px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.areaInstagram .listPhoto li {
    width: 322px;
    margin: 0 15px 14px 0;
}

.areaInstagram .listPhoto li:nth-child(3n) {
    margin-right: 0;
}

/*areaLinkLogo*/
.areaLinkLogo {
    padding: 82px 0 126px;
}

.areaLinkLogo .inner {
    width: 1076px;
}

.areaLinkLogo .listLogo {
    display: flex;
    flex-wrap: wrap;
}

.areaLinkLogo .listLogo li {
    width: 254px;
    margin-right: 20px;
    margin-bottom: 11px;
}

.areaLinkLogo .listLogo li:nth-child(4n) {
    margin-right: 0;
}
.wrapAboutnews{
    background: url(../images/index/area-about-bg.png) no-repeat top -5px center;
    background-size: 100%;
}
/*areaAbout*/
.areaAbout {
    padding: 95px 0;
}

.areaAbout .inner {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.areaAbout .aboutContent {
    width: 623px;
}

.areaAbout .aboutContent .wrapTitle {
    text-align: left;
    margin-bottom: 46px;
}

.areaAbout .aboutContent .aboutText {
    line-height: 1.9;
    padding-left: 5px;
    text-align: justify;
}

.areaAbout .map {
    margin-right: -43px;
    margin-top: 7px;
}

.areaAbout .linkBtn {
    margin-top: -82px;
}

/*.areaNews*/
.areaNews {
    padding-bottom: 101px;
}

.areaNews .inner {
    width: 1000px;
}

.areaNews .wrapTitle {
    margin-bottom: 55px;
}

.areaNews .listNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 38px;
}

.areaNews .listNews li {
    width: 473px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c2c2c2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}



.areaNews .listNews li .photo {
    width: 187px;
}

.areaNews .listNews li .newsCt {
    width: calc(100% - 205px);
    margin-top: 13px;
}

.areaNews .listNews li .newsCt .date {
    font-size: 14px;
    color: #9ea91c;
    margin-bottom: 4px;
}

.areaNews .listNews li .newsCt .newsTitle {
    line-height: 1.6;
}

.areaNews .listNews li .newsCt .newsTitle a {
    font-weight: 500;
    color: #555555;
    font-size: 14px;
}

@media(min-width: 769px){
    .areaNews .listNews li:nth-child(3),
    .areaNews .listNews li:nth-child(4) {
        border-bottom: none;
    }
    .main .choiceLanguage.fixedBot #google_language_translator select.goog-te-combo{
        background: url(../images/common/arrow-select.svg) no-repeat right 20px center/15px 8px,
            url(../images/common/icon-lang.png) no-repeat left 30px top 17px/22px 16px, #fff;
        font-size: 13px;
        height: 56px !important;
        width: 392px;
        padding-left: 57px !important;
    }
}

@media(max-width: 768px){
    .main .btnEx{
        margin-top: -305px;
    }
    .main .inner{
        width: 100%;
        padding: 0 2.9%;
    }
    #content{
        background: #fff url(../images/common/map-bg-sp.png) no-repeat top -2px center;
        background-size: 100%;
        padding-top: 65px;
    }
    .wrapTitle .areaTitle{
        font-size: 20px;
        margin-bottom: -1px;
    }
    .wrapTitle .areaTitle:after{
        width: 26px;
        height: 32px;
        right: -35px;
    }
    .areaSpecial{
        margin-bottom: 66px;
    }

    .areaSpecial .inner{
        width: 100%;
    }

    .areaSpecial .specialSlide .listItem {
        margin: 0 18px;
    }
    .areaSpecial .slick-prev, .areaSpecial .slick-prev:hover, .areaSpecial .slick-prev:focus {
        background: url(../images/index/arrow-slide-prev.png) no-repeat;
        width: 26px;
        height: 26px;
        left: 0;
        z-index: 3;
        top: 31.6%;
    }
    .areaSpecial .slick-next, .areaSpecial .slick-next:hover, .areaSpecial .slick-next:focus {
        background: url(../images/index/arrow-slide-next.png) no-repeat;
        width: 26px;
        height: 26px;
        right: 0;
        top: 31.6%;
    }
    .areaSpecial .wrapTitle{
        margin-bottom: 22px;
    }
    .areaSpecial .specialSlide .listItem .listItemTitle{
        padding: 13px 19px 16px;
        font-size: 14px;
    }
    .areaSpecial .specialSlide{
        padding-bottom: 8px;
        margin-bottom: 67px;
    }

    .areaSpecial .slick-dots li button:before{
        content: "";
        background: url(../images/index/dot-slide.png) no-repeat;
        background-size: 8px 8px;
        width: 8px;
        height: 8px;
        opacity: 1;

    }
    .areaSpecial .slick-dots li.slick-active button:before{
        background: url(../images/index/dot-active-slide.png) no-repeat;
        background-size: 7px 7px;
        
    }
    .areaSpecial .slick-dots li{
        width: 7px;
        height: 7px;
    }
    .areaTourism{
        margin-bottom: 15px;
    }
    .areaTourism .listTourism{
        width: 100%;
        max-width: 325px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .areaTourism .listTourism li{
        width: 153px;
        margin-right: 0;
        margin-bottom: 49px;
    }
    .areaTourism .listTourism li:nth-child(3n){
        margin-right: 0;
    }

    .areaTourism .listTourism li .listTourismTitle{
        width: 144px;
        padding-bottom: 30px;
        margin: 0 auto 29px;
    }
    .areaTourism .listTourism li:nth-child(1) .listTourismTitle img{
        width: 80px;
        height: 56px;
    }
    .areaTourism .listTourism li:nth-child(2) .listTourismTitle img{
        width: 37px;
        height: 56px;
    }
    .areaTourism .listTourism li:nth-child(3) .listTourismTitle img{
        width: 52px;
        height: 58px;
    }
    .areaTourism .listTourism li:nth-child(4) .listTourismTitle img{
        width: 42px;
        height: 59px;
    }
    .areaTourism .listTourism li:nth-child(5) .listTourismTitle img{
        width: 34px;
        height: 57px;
    }
    .areaTourism .listTourism li:nth-child(6) .listTourismTitle img{
        width: 66px;
        height: 57px;
    }
    
    .areaTourism .wrapTitle {
        margin-bottom: 26px;
    }

    .areaModel .inner{
        padding: 0 0 21px 0;
        background: url(../images/index/area-model-bg.png) repeat-x bottom center;
        background-size: 100% 125px;
        margin-bottom: 50px;
    }
    .areaModel .wrapTitle{
        margin-bottom: 23px;
    }

    .areaModel .listModel li{
        width: 245px;
        margin: 0 10px;
    }
    .areaModel .listModel li:nth-child(3n){
        margin-right: 10px;
    }
    .areaModel .listModel{
        width: 100%;
    }

    .areaModel .linkBtn{
        width: 210px;
        transform: none;
        margin-bottom: 70px
    }
    .areaModel .linkBtn a{
        width: 82.8%;
        border: 1px solid #222222;
        padding: 10px 20px 11px;
        font-size: 15px;
        position: relative;
        display: block;
        transition: all 0.3s;
    }
    .areaModel .linkBtn a:after{
        content: "";
        position: absolute;
        background: url(../images/common/arrow-btn-link.svg) no-repeat;
        background-size: 32px 8px;
        width: 32px;
        height: 8px;
        left: 161px;
        top: 17px;
    }
    .areaModel .linkBtn a:before{
        content: "";
        position: absolute;
        background: url(../images/index/bg-foot-sp.png) no-repeat;
        background-size: 46px 60px;
        width: 46px;
        height: 60px;
        left: 115px;
        bottom: 10px;
    }
    .areaModel .listModel li .listModelTitle a{
        font-size: 15px;
    }
    .areaModel .listModel li .modelPhoto{
        margin-bottom: 7px;
    }
    .areaModel .listModel li .listModelTitle{
        padding-left: 5px;
    }
    .areaModel .title{
        right: 11px;
        top: 48px;
        width: 240px;
    }
    .wrapAboutnews{
        background: url(../images/index/area-about-bg-sp.png) no-repeat top -5px center;
        background-size: 100%;
    }
    .areaAbout{
        padding: 56px 0 65px;
    }
    .areaAbout .inner{
        padding: 0 20px;
    }
    .areaAbout .aboutContent{
        width: 100%;
    }
    .areaAbout .aboutContent .wrapTitle{
        text-align: center;
        margin-bottom: 17px;
    }
    .areaAbout .aboutContent .aboutText{
        font-size: 14px;
        padding-left: 0;
        line-height: 2;
    }
    .areaAbout .map{
        margin: -6px 0 0 7px;
    }
    .areaAbout .linkBtn{
        margin-top: 40px;
    }
    .areaNews{
        padding-bottom: 60px;
    }
    .areaNews .inner{
        width: 100%;
        padding: 0 5.3%;
    }
    .areaNews .wrapTitle{
        margin-bottom: 24px;
    }
    .areaNews .listNews{
        margin-bottom: 29px;
    }
    .areaNews .listNews li{
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .areaNews .listNews li .photo{
        width: 150px;
    }
    .areaNews .listNews li .newsCt{
        width: calc(100% - 162px);
        margin-top: 0;
    }
    .areaInstagram{
        padding: 51px 0 50px;
    }
    .areaInstagram .listPhoto{
        width: 89%;
    }
    .areaInstagram .listPhoto li{
        width: 49%;
        margin-right: 2%;
        margin-bottom: 3%;
    }
    .areaInstagram .listPhoto li:nth-child(3n){
        margin-right: 2%;
    }
    .areaInstagram .listPhoto li:nth-child(2n){
        margin-right: 0;
    }
    .areaInstagram .wrapTitle{
        margin-bottom: 23px;
    }

    .areaLinkLogo{
        padding: 41px 0 92px;
    }

    .areaLinkLogo .inner{
        width: 100%;
    }
    .areaLinkLogo .listLogo li{
        width: 48%;
        min-width: 165px;
        margin-right: 3.7%;
        margin-bottom: 9px;
    }
    .areaLinkLogo .listLogo li img{
        width: 100%;
    }

    .areaLinkLogo .listLogo li:nth-child(4n){
        margin-right: 0;
    }
    .areaLinkLogo .listLogo li:nth-child(2n){
        margin-right: 0;
    }


    .areaModel .listAllCatesp{
        padding: 0 4.1%;
    }
    .areaModel .listAllCatesp .listAllItem{

    }
    .areaModel .listAllCatesp .listAllItem .wrapItem{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .areaModel .listAllCatesp .listAllItem .wrapItem li {
        width: 47.3%;
        margin-bottom: 23px;
    }
    .areaModel .listAllCatesp .listAllItem .wrapItem li:nth-child(2n){
        margin-right: 0;
    }

    .areaModel .listAllCatesp .listAllItem .wrapItem li .photo img{
        width: 100%;
    }

    .areaModel .listAllCatesp .listAllItem .wrapItem li .allcateTitle a{
        font-size: 14px;
        color: #717171;
        font-weight: 500;
        padding: 7px 0px;
        line-height: 1.4;
        display: block;
    }
    .areaModel .listAllCatesp .slick-dots{
        width: 92%;
        bottom: -12px;
    }
    .areaModel .listAllCatesp .slick-dots li{
        width: 8px;
        height: 8px;
    }
    .areaModel .listAllCatesp .slick-dots li button:before{
        content: "";
        background: url(../images/index/dot-slide.png) no-repeat;
        background-size: 8px 8px;
        width: 8px;
        height: 8px;
        opacity: 1;

    }
    .areaModel .listAllCatesp .slick-dots li.slick-active button:before{
        background: url(../images/index/dot-active-slide.png) no-repeat;
        background-size: 7px 7px;
        
    }


}

/*IE FIX*/
@media all and (-ms-high-contrast:none) {

    .main .choiceLanguage select{
        background: url(../images/common/arrow-select.svg) no-repeat right 12px center/9px 5px,
            url(../images/common/icon-lang.png) no-repeat left 10px top 11px/22px 16px, #fff;
    }

}