@charset "utf-8";

/***************************************************************************
*
* MODEL COURSES STYLE
*
***************************************************************************/

.pageModelCourses {
    padding-bottom: 160px;
    padding-top: 14px;
}

.inner {
    width: 1000px;
}

.postList {
    margin-top: 21px;
}


/* SP STYLE */
@media (max-width: 767px) {

    #content {
        padding-top: 30px;
    }

    .pageModelCourses {
        padding-bottom: 100px;
        padding-top: 0;
    }

    .inner {
        width: 100%;
    }


}