@charset "utf-8";

/***************************************************************************
*
* SPECIAL EVENT STYLE
*
***************************************************************************/


#content {
	padding-top: 104px;
}

/*.areaSpecial*/

.areaSpecial {
	margin-bottom: 100px;
}
.areaSpecial .inner {
	width: 1000px;
}
.areaSpecial .titleContent {
	margin-bottom: 12px;
}
.areaSpecial .titleContent .titleSmall {
	color: #9ea91c;
	font-size: 14px;
	font-weight: normal;
}
.areaSpecial .titleContent .titleBig {
	color: #333333;
	font-size: 35px;
	font-weight: 600;
	line-height: 1.45;
}


.areaSpecial .boxImageNav {
	margin-bottom: 26px;
}
.areaSpecial .boxImageNav .navBig {
	margin-bottom: 23px;
}
.areaSpecial .boxImageNav .navBig img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.areaSpecial .boxImageNav .itemImageContent {
	margin: 15px -16px 0;
}
.areaSpecial .boxImageNav .itemImageContent:nth-child(-n+3) {
	margin-top: 0;
}
.areaSpecial .boxImageNav .itemImageContent .itemImg {
	position: relative;
	height: 239px;
	/*padding: 0 10px;*/
}
.areaSpecial .boxImageNav .itemImageContent .slick-slide  {
	margin: 0 16px;
}
.areaSpecial .boxImageNav .itemImageContent .itemImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.areaSpecial .boxImageNav .itemImageContent .itemImg:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(158,169,28,0.45);

}
.areaSpecial .boxImageNav .itemImageContent .slick-current .itemImg:before {
	content: none;
}

.areaSpecial .thecontent {
	margin-bottom: 70px;
}
.areaSpecial .thecontent h3 {
	color: #9ea91c;
	font-size: 35px;
	font-weight: 600;
    font-family: 'Noto Serif JP', serif;
    margin-bottom: 26px;
}
.areaSpecial .thecontent p {
	color: #333333;
	line-height: 1.75;
}

.areaSpecial .boxAddress {
	margin-bottom: 65px;
}
.areaSpecial .tableContent {
	float: left;
	width: 528px;
	margin: 2px auto 0;
}
.areaSpecial .tableContent table {
	width: 100%;
}
.areaSpecial .tableContent tr {
	border-bottom: 1px solid #aaaaaa;
}
.areaSpecial .tableContent tr:last-child {
	border-bottom: none;
}
.areaSpecial .tableContent tr th,
.areaSpecial .tableContent tr td {
	padding: 16px 0 16px;
}
.areaSpecial .tableContent tr th {
	width: 121px;
	color: #999999;
	vertical-align: top;
	text-align: left;
	padding-left: 27px;
	font-weight: normal;
    font-family: 'Noto Serif JP', serif;
}
.areaSpecial .tableContent tr td {
	padding-left: 6px;
}
.areaSpecial .tableContent tr td a {
	color: #333333;
	font-weight: 500;
}

.areaSpecial .mapContent {
	float: right;
	width: 432px;
}
.areaSpecial .mapContent iframe {
	width: 100%;
	height: 337px;
}
.videoContent {
	width: 642px;
	margin: 0 auto 55px;
}
.videoContent video {
	width: 100%;
}

/*.areaInformation*/

.areaInformation {
	background: url(../images/detail/infor-brg.png) no-repeat top left/ cover;
	padding: 95px 0 112px;
	text-align: center;
}
.areaInformation .titleInfor {
	display: inline-block;
	position: relative;
	font-size: 23px;
	font-weight: 600;
	color: #9ea91c;
	text-align: center;
	margin-bottom: 53px;
	padding-right: 8px;
}
.areaInformation .titleInfor:before {
	content: "";
	position: absolute;
	top: 44%;
    right: -39px;
	background: url(../images/detail/infor-icon-title.svg) no-repeat;
	width: 29px;
    height: 34px;
	transform: translateY(-50%);
}
.areaInformation .postList {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 20px);
	margin: 0 -10px;
	text-align: left;
}
.areaInformation .postList .slick-slide {
	margin: 0 10px;
}
.areaInformation .postList .listItem {
	margin-right: 0;
}
.areaInformation .postList .listItem:nth-child(-n+3) {
	margin-top: 0;
}
.areaInformation .postList .listItem:nth-child(3n) {
	margin-right: 0;
}
.areaInformation .postList .listItem .wrapPhoto {
	margin-bottom: 10px;
}
.areaInformation .postList .listItem .detailInfor {
	background: #fff;
	color: #9ea91c;
	border: 1px solid #e2e2dc;
	padding: 20px 19px 13px;
}
.areaInformation .postList .listItem.Gourmand .detailInfor {
	color: #c8b22a;
}
.areaInformation .postList .listItem .detailInfor .cateInfor {
	margin-bottom: 7px;
}
.areaInformation .postList .listItem .detailInfor .cateInfor li {
	float: left;
	min-width: 78px;
}
.areaInformation .postList .listItem .detailInfor .cateInfor li a {
	display: block;
	background: #e7eac7;
	font-size: 13px;
	color: #b6be54;
	padding: 0 2px;
	text-align: center;
}
.areaInformation .postList .listItem .detailInfor .titleSub {
	font-size: 17px;
	font-weight: 500;
}
.areaInformation .postList .listItem .detailInfor .txtInfor {
	color: #777777;
    line-height: 1.7;
}

.areaInformation .slick-next,
.areaInformation .slick-prev {
	background: url(../images/detail/infor-arrows-icon.svg) no-repeat;
	background-size: 25px;
	width: 25px;
	height: 25px;
	top: 44%;
	z-index: 1;
}
.areaInformation .slick-prev {
	left: -24px;
}
.areaInformation .slick-next {
	right: -24px;
	transform: translate(0, -50%) rotate(180deg);
}
.areaInformation .slick-next:before,
.areaInformation .slick-prev:before {
	content: none;
}


@media (min-width: 769px) {
	.areaSpecial .tableContent tr td .phoneTable {
		pointer-events: none;
		cursor: default;
	}
}

@media (max-width: 768px) {
	#content {
		padding-top: 30px;
	}

	.areaSpecial {
	    margin-bottom: 71px;
	}
	.areaSpecial .inner {
		width: 100%;
	}
	.areaSpecial .titleContent {
		margin-bottom: 12px;
		padding-left: 8px;
	}
	.areaSpecial .titleContent .titleSmall {
		font-size: 12px;
	}
	.areaSpecial .titleContent .titleBig {
		font-size: 16px;
		line-height: 1.7;
	}
	.areaSpecial .boxImageNav {
	    margin-bottom: 19px;
	}
	.areaSpecial .boxImageNav .navBig {
		margin-bottom: 5px;
	}
	.areaSpecial .boxImageNav .itemImageContent {
		margin: 5px -3px 0 -4px;
	}
	.areaSpecial .boxImageNav .itemImageContent .slick-slide {
		margin: 0 4px;
	}
	.areaSpecial .boxImageNav .itemImageContent .itemImg {
		height: auto;
	}

	.areaSpecial .thecontent {
		margin-bottom: 26px;
	}
	.areaSpecial .tableContent tr th ,
	.areaSpecial .tableContent tr td {
		padding: 17px 0 16px;
	}
	.areaSpecial .tableContent tr th {
		width: 90px;
		font-size: 12px;
		padding-left: 18px;
	}
	.areaSpecial .tableContent tr td {
		padding-left: 17px;
	}
	.areaSpecial .tableContent tr td a {
		letter-spacing: -0.7px;
	}
	.areaSpecial .tableContent tr td a.phoneTable {
		letter-spacing: -0.4px;
	}

	.areaSpecial .tableContent {
		width: 100%;
		font-size: 14px;
		margin: 0 auto 34px;
	}
	.areaSpecial .thecontent h3 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.areaSpecial .thecontent p {
		font-size: 14px;
	}

	.areaSpecial .mapContent {
		float: none;
		width: 100%;
	    margin-bottom: -20px;
	}
	.areaSpecial .mapContent iframe {
		height: 270px;
	}

	.videoContent {
		width: 100%;
		margin: 0 auto 5px;
	}

	/*.areaInformation*/
	.areaInformation {
		background: transparent;
		padding: 0 0 165px;
		text-align: center;
	}
	.areaInformation .inner {
		padding: 0;
	}
	.areaInformation .titleInfor {
		display: inline-block;
		position: relative;
		font-size: 18px;
		margin-bottom: 40px;
		padding-right: 18px;
	}
	.areaInformation .titleInfor:before {
		top: 54%;
		right: -24px;
	}
	.areaInformation .postList {
		width: 100%;
		margin: 0;
		text-align: left;
	}
	.areaInformation .postList .listItem .wrapPhoto {
		margin-bottom: 9px;
	}
	.areaInformation .postList .listItem .wrapPhoto img {
		width: 100%;
		height: 100%;
    	object-fit: cover;
	}
	.areaInformation .postList .listItem .detailInfor {
		padding: 9px 14px 6px 14px;
    	letter-spacing: -0.3px;
	}
	.areaInformation .postList .listItem .detailInfor .cateInfor li a {
		font-size: 12px;
	}
	.areaInformation .postList .listItem .detailInfor .titleSub {
		font-size: 15px;
	}
	.areaInformation .postList .listItem .detailInfor .txtInfor {
		font-size: 12px;
		line-height: 1.75;
	}
	.areaInformation .postList .listItem .detailInfor .cateInfor {
		margin-bottom: 1px;
	}

	.areaInformation .slick-next,
	.areaInformation .slick-prev {
		background: url(../images/detail/infor-arrows-icon.svg) no-repeat;
		background-size: 25px;
		width: 25px;
		height: 25px;
		top: 33.3%;
		z-index: 1;
	}
	.areaInformation .slick-prev {
		left: -13px;
	}
	.areaInformation .slick-next {
		right: -13px;
		transform: translate(0, -50%) rotate(180deg);
	}
	.areaInformation .slick-next:before,
	.areaInformation .slick-prev:before {
		content: none;
	}

	.slick-dots {
		bottom: -62px;
		padding-right: 5px;
	}
	.slick-dots li {
		border: 1px solid #9ea91c;
		border-radius: 50%;
		width: 6px;
		height: 6px;
		padding: 2px;
		margin: 0 6px;
	}
	.slick-dots li button {
		width: 6px;
		height: 6px;
		padding: 2px;
	}
	.slick-dots li.slick-active {
		background: #9ea91c;
	}
	.slick-dots li button:before {
		content: none;
	}
}

@media (max-width: 450px) {

	.areaSpecial .boxImageNav .navBig .imageContent {
		height: 248px;
	}
}