/***************************************************************************
 *
 *  POLICY
 *
 ***************************************************************************/

body {
    background: none;
}

#content {
    padding-top: 83px;
}

.areaAbout {
    width: 799px;
    margin: 0 auto;
}

.areaAbout .aboutForeword {
    font-size: 13px;
    color: #666666;
    margin-left: 2px;
    font-weight: initial;
    letter-spacing: -0.31px;
    margin-bottom: 64px;
}

.areaAbout .aboutContent {
    margin-bottom: 40px;
}

.aboutContent .aboutTitle {
    color: #B5BD51;
    border-bottom: 1px dashed;
    letter-spacing: -0.8px;
    line-height: 1.5;
}

.aboutContent .aboutText {
    margin-top: 6px;
    color: #666666;
    font-size: 13px;
    line-height: 1.55;
}

.aboutContent .aboutList.listText {
    margin-top: 22px;
}

.aboutContent .aboutList {
    padding-left: 15px;
    margin-top: 5px;
    font-size: 13px;
    list-style: revert;
    color: #666666;
}

.aboutContent .titleSub {
    position: relative;
    padding-left: 15px;
    margin-top: 13px;
    font-size: 13px;
    color: #666666;
    font-weight: 500;
    letter-spacing: -0.37px;
}

.aboutContent .titleSub:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 24px;
    background: #E5E5E5;
}

.aboutContent .aboutText a {
    color: #666666;
}

@media(min-width:769px) {
    .aboutContent .aboutText a {
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    #content {
        padding-top: 33px;
    }
    .areaAbout {
        width: 100%;
    }
    .areaAbout .aboutForeword {
        letter-spacing: -0.7px;
        line-height: 1.55;
        margin-bottom: 63px;
    }
    .aboutContent .aboutTitle {
        line-height: 1.7;
        margin-left: 2px;
    }
    .areaAbout .aboutContent {
        margin-bottom: 25px;
    }
    .aboutContent .aboutList.listText {
        margin-top: 3px;
    }
    .aboutContent .aboutList {
        margin-top: 14px;
    }
    .aboutContent .aboutText .address {
        font-size: 12px;
        margin-left: -11px;
    }
    .aboutContent .aboutText .city {
        display: inline-block;
        font-size: 11px;
        margin-left: 45px;
        transform: translateY(-3px);
        letter-spacing: 0.37px;
    }
}