@charset "utf-8";

/***************************************************************************
*
* TOURISM STYLE
*
***************************************************************************/

.pageSpecialContents {
    padding-bottom: 160px;
    padding-top: 14px;
}

.inner {
    width: 1000px;
}

/* SUB CAT SELECT */
.subCatList {
    width: 800px;
    margin: 37px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subCatList li {
    width: 250px;
    border-top: 1px solid #777777;
    border-right: 1px solid #777777;
    border-bottom: 1px solid #777777;
    background-color: #FFF;
    position: relative;
    margin-bottom: 10px;
}
.subCatList li:nth-child(3n + 1) {
    border-left: 1px solid #777777;
}
.subCatList li a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #777777;
    background-color: #FFF;
    position: relative;
    z-index: 20;
    letter-spacing: 1px;
    padding: 2px 5px;
}
.subCatList li:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    width: 0;
    height: 0;
    border-top: 20px solid #FFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.subCatList li:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 0;
    height: 0;
    border-top: 20px solid #777777;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.subCatList li.active{
    border-color: #B9C15B;
}
.subCatList li:hover {
    background-color: #B9C15B;
}
.subCatList li.active a,
.subCatList li:hover a {
    color: #FFF;
    background-color: #B9C15B;
}
.subCatList li:hover:after,
.subCatList li.active:after,
.subCatList li:hover:before,
.subCatList li.active:before {
    border-top-color: #B9C15B;
}

.postList {
    margin-top: 40px;
}
.postList .listItem {
    margin-bottom: 40px;
}



/* SP STYLE */
@media (max-width: 767px) {

    #content {
        padding-top: 30px;
    }

    .pageSpecialContents {
        padding-bottom: 125px;
    }

    .inner {
        width: 100%;
    }

    .subCatList {
        width: 100%;
        display: flex;
        padding: 0px 15%;
        margin-top: 12px;
    }
    .subCatList li {
        width: 100%;
        border: 1px solid #777777;
        margin-bottom: 19px;
    }
    .subCatList li a {
        font-size: 14px;
        padding: 3px 5px;
    }

    .postList .listItem {
        margin-bottom: 30px;
    }


}