@charset "utf-8";

/***************************************************************************
*
* SPECIAL EVENT STYLE
*
***************************************************************************/


#content {
	padding-top: 80px;
}

/*.areaSpecial*/

.areaSpecial {
	margin-bottom: 100px;
}
.areaSpecial .inner {
	width: 1000px;
}
.areaSpecial .titleContent {
	margin-bottom: 12px;
}
.areaSpecial .titleContent .cateContent a {
	color: #9ea91c;
	font-size: 14px;
	font-weight: normal;
}
.areaSpecial .titleContent .titleBig {
	color: #333333;
	font-size: 35px;
	font-weight: 600;
	line-height: 1.45;
    letter-spacing: -0.4px;
}


.areaSpecial .boxImageNav {
	margin-bottom: 53px;
}
.areaSpecial .boxImageNav .navBig {
	margin-bottom: 16px;
}
.areaSpecial .boxImageNav .navBig img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.areaSpecial .boxImageNav .itemImageContent {
	margin: 15px -12px 0;
}
.areaSpecial .boxImageNav .itemImageContent:nth-child(-n+3) {
	margin-top: 0;
}
.areaSpecial .boxImageNav .itemImageContent .itemImg {
	position: relative;
	height: 174px;
	/*padding: 0 10px;*/
}
.areaSpecial .boxImageNav .itemImageContent .slick-slide  {
	margin: 0 12px;
}
.areaSpecial .boxImageNav .itemImageContent .itemImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.areaSpecial .boxImageNav .itemImageContent .itemImg:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(158,169,28,0.45);

}
.areaSpecial .boxImageNav .itemImageContent .slick-current .itemImg:before {
	content: none;
}

.areaSpecial .thecontent {
	margin-bottom: 35px;
}
.areaSpecial .thecontent h3 {
	color: #9ea91c;
	font-size: 35px;
	font-weight: 600;
    font-family: 'Noto Serif JP', serif;
    margin-bottom: 26px;
}
.areaSpecial .thecontent p {
	color: #333333;
	line-height: 1.75;
}

.areaSpecial .tableContent {
	width: 730px;
	margin: 0 auto 62px;
}
.areaSpecial .tableContent table {
	width: 100%;
}
.areaSpecial .tableContent tr {
	border-bottom: 1px solid #aaaaaa;
}
.areaSpecial .tableContent tr th,
.areaSpecial .tableContent tr td {
	padding: 15px 0 16px;
}
.areaSpecial .tableContent tr th {
	width: 128px;
	color: #999999;
	vertical-align: top;
}
.areaSpecial .tableContent tr td {
	padding-left: 6px;
}
.areaSpecial .tableContent tr td a {
	color: #333333;
	font-weight: 500;
}

.areaSpecial .mapContent {
	margin-bottom: 64px;
}
.areaSpecial .mapContent iframe {
	width: 100%;
	height: 455px;
}


/*.areaInformation*/

.areaInformation {
	background: url(../images/detail/infor-brg.png) no-repeat top left/ cover;
	padding: 96px 0 109px;
}
.areaInformation .titleInfor {
	font-size: 23px;
	font-weight: 600;
	color: #9ea91c;
	text-align: center;
	margin-bottom: 52px;
}
.areaInformation .postList {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	margin-left: 14px;
}
.areaInformation .postList .listItem {
	width: calc(100% / 3 - 13.4px);
	margin-right: 20px;
	margin-top: 20px;
}
.areaInformation .postList .listItem:nth-child(-n+3) {
	margin-top: 0;
}
.areaInformation .postList .listItem:nth-child(3n) {
	margin-right: 0;
}
.areaInformation .postList .listItem .wrapPhoto {
	margin-bottom: 9px;
}
.postList .listItem .listItemTitle {
	padding: 13px 18px 27px;
}


@media (max-width: 768px) {
	#content {
		padding-top: 31px;
	}

	.areaSpecial {
	    margin-bottom: 71px;
	}
	.areaSpecial .inner {
		width: 100%;
	}
	.areaSpecial .titleContent {
		margin-bottom: 5px;
	}
	.areaSpecial .titleContent .cateContent a {
		font-size: 12px;
	}
	.areaSpecial .titleContent .titleBig {
		font-size: 16px;
		line-height: 1.7;
	}
	.areaSpecial .boxImageNav {
	    margin-bottom: 11px;
	}
	.areaSpecial .boxImageNav .navBig {
		margin-bottom: 5px;
	}
	.areaSpecial .boxImageNav .itemImageContent {
		margin: 5px -3px 0 -4px;
	}
	.areaSpecial .boxImageNav .itemImageContent .slick-slide {
		margin: 0 4px;
	}
	.areaSpecial .boxImageNav .itemImageContent .itemImg {
		height: auto;
	}
	.areaSpecial .boxImageNav .navBig .imageContent {
		height: 255px;
	}

	.areaSpecial .thecontent {
		margin-bottom: 27px;
	}
	.areaSpecial .tableContent tr th {
		width: 78px;
		font-size: 12px;
	}
	.areaSpecial .tableContent tr th {
		padding: 14px 0 16px;
	}
	.areaSpecial .tableContent tr td {
		padding: 13px 0 17px;
	}
	.areaSpecial .tableContent tr td {
		padding-left: 14px;
	}
	.areaSpecial .tableContent tr td a {
		letter-spacing: -0.8px;
	}

	.areaSpecial .tableContent {
		width: 100%;
		font-size: 14px;
		margin-bottom: 19px;
	}
	.areaSpecial .thecontent h3 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.areaSpecial .thecontent p {
		font-size: 14px;
	}

	.areaSpecial .mapContent {
	    margin-bottom: 44px;
	}
	.areaSpecial .mapContent iframe {
		height: 270px;
	}

	/*.areaInformation*/

	.areaInformation {
		padding: 63px 0 118px;
		text-align: center;
	}
	.areaInformation .inner {
		padding: 0 7.8%;
	}
	.areaInformation .titleInfor {
		display: inline-block;
		position: relative;
		font-size: 18px;
		margin-bottom: 36px;
		padding-right: 23px;
	}
	.areaInformation .titleInfor {
		text-align: left;
	}
	.areaInformation .titleInfor:before {
		content: "";
		position: absolute;
		top: 73%;
    	right: -6px;
		background: url(../images/detail/infor-icon-title2.svg) no-repeat;
		width: 21px;
		height: 27px;
		transform: translateY(-50%);
	}
	.areaInformation .postList {
		margin-left: 0;
	}
	.areaInformation .postList .slick-slide {
		margin: 0 5px;
	}
	.areaInformation .postList .listItem {
		margin-right: 0;
	}
	.areaInformation .postList .listItem .wrapPhoto .photo,
	.areaInformation .postList .listItem .wrapPhoto img {
		width: 100%;
		height: 100%;
    	object-fit: cover;
	}
	.areaInformation .postList .listItem .listItemTitle {
		padding: 15px 17px 14px 19px;
    	letter-spacing: -0.3px;
    	text-align: left;
	}

	.areaInformation .slick-next,
	.areaInformation .slick-prev {
		background: url(../images/detail/infor-arrows-icon.svg) no-repeat;
		background-size: 25px;
		width: 25px;
		height: 25px;
		top: 33.3%;
		z-index: 1;
	}
	.areaInformation .slick-prev {
		left: -13px;
	}
	.areaInformation .slick-next {
		right: -13px;
		transform: translate(0, -50%) rotate(180deg);
	}
	.areaInformation .slick-next:before,
	.areaInformation .slick-prev:before {
		content: none;
	}



	.slick-dots {
		bottom: -43px;
		padding-right: 5px;
	}
	.slick-dots li {
		border: 1px solid #9ea91c;
		border-radius: 50%;
		width: 6px;
		height: 6px;
		padding: 2px;
		margin: 0 6px;
	}
	.slick-dots li button {
		width: 6px;
		height: 6px;
		padding: 2px;
	}
	.slick-dots li.slick-active {
		background: #9ea91c;
	}
	.slick-dots li button:before {
		content: none;
	}
}

@media (max-width: 450px) {
	.areaInformation .postList .listItem .wrapPhoto {
		height: 241px;
	}
}