@charset "utf-8";

/***************************************************************************
*
* SPECIAL EVENT STYLE
*
***************************************************************************/


#content {
	padding-top: 111px;
}

/*.areaSpecial*/

.areaSpecial {
	margin-bottom: 95px;
}
.minInner {
	width: 1000px;
	margin: 0 auto;
}
.areaSpecial .imageDetail {
	margin-bottom: 58px;
}
.areaSpecial .boxContent {
	width: 800px;
	margin: 0 auto;
}
.areaSpecial .boxContent .titleContent {
	position: relative;
	font-size: 35px;
	color: #9ea91c;
	padding-bottom: 13px;
	margin-bottom: 34px;
}
.areaSpecial .boxContent .titleContent:before {
	content: "";
	position: absolute;
	background: url(../images/detail/line-title.png) repeat-x top left/ 100% auto ;
	width: 100%;
	height: 4px;
	bottom: 0;
	left: 0;
}
.areaSpecial .thecontent {
	margin-bottom: 35px;
}
.areaSpecial .thecontent h3 {
	color: #333333;
	font-size: 21px;
	font-weight: 600;
    font-family: 'Noto Serif JP', serif;
    padding-bottom: 15px;
    margin-bottom: 39px;
    border-bottom: 1px solid #9ea91c;
}
.areaSpecial .thecontent p {
	color: #333333;
	margin-bottom: 56px;
	line-height: 1.75;
}
.areaSpecial .thecontent p img {
	margin-bottom: -20px;
}

.areaSpecial .tableContent {
	width: 730px;
	margin: 0 auto 62px;
}
.areaSpecial .tableContent table {
	width: 100%;
}
.areaSpecial .tableContent tr {
	border-bottom: 1px solid #aaaaaa;
}
.areaSpecial .tableContent tr th,
.areaSpecial .tableContent tr td {
	padding: 15px 0 16px;
}
.areaSpecial .tableContent tr th {
	width: 128px;
	color: #999999;
	vertical-align: top;
}
.areaSpecial .tableContent tr td {
	padding-left: 6px;
}
.areaSpecial .tableContent tr td a {
	color: #333333;
	font-weight: 500;
}

.areaSpecial .mapContent {
	margin-bottom: 64px;
}
.areaSpecial .mapContent iframe {
	width: 100%;
	height: 455px;
}


/*.areaInformation*/

.areaInformation {
	background: url(../images/detail/infor-brg.png) no-repeat top left/ cover;
	padding: 94px 0 109px;
}
.areaInformation .titleInfor {
	font-size: 23px;
	font-weight: 600;
	color: #9ea91c;
	text-align: center;
	margin-bottom: 52px;
}
.areaInformation .postList {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 20px);
	margin: 0 -10px;
}
.areaInformation .postList .slick-slide {
	margin: 0 10px;
}
.areaInformation .postList .listItem {
	margin-right: 0;
}
.areaInformation .postList .listItem:nth-child(-n+3) {
	margin-top: 0;
}
.areaInformation .postList .listItem:nth-child(3n) {
	margin-right: 0;
}
.areaInformation .postList .listItem .wrapPhoto {
	margin-bottom: 9px;
}
.areaInformation .postList .listItem .listItemTitle {
	padding: 16px 16px 23px;
}
.areaInformation .postList .listItem .listItemTitle a {
	color: #777777;
    line-height: 1.7;
}

.areaInformation .slick-next,
.areaInformation .slick-prev {
	background: url(../images/detail/infor-arrows-icon.svg) no-repeat;
	background-size: 25px;
	width: 25px;
	height: 25px;
	top: 42%;
	z-index: 1;
}
.areaInformation .slick-prev {
	left: -24px;
}
.areaInformation .slick-next {
	right: -24px;
	transform: translate(0, -50%) rotate(180deg);
}
.areaInformation .slick-next:before,
.areaInformation .slick-prev:before {
	content: none;
}


@media (max-width: 768px) {
	#content {
		padding-top: 34px;
	}

	.areaSpecial {
	    margin-bottom: 61px;
	}
	.minInner {
		width: 100%;
        padding: 0 4%;
	}
	.areaSpecial .imageDetail {
		margin-bottom: 18px;
	}
	.areaSpecial .boxContent {
		width: 100%;
		padding: 0 4.4%;
	}
	.areaSpecial .boxContent .titleContent {
		font-size: 16px;
		padding-bottom: 7px;
		margin-bottom: 13px;
	}

	.areaSpecial .thecontent {
		margin-bottom: 27px;
	}

	.areaSpecial .thecontent h3 {
		font-size: 16px;
	    margin-bottom: 20px;
	    letter-spacing: -1.3px;
	    padding-bottom: 6px;
	}
	.areaSpecial .thecontent p {
		font-size: 14px;
		margin-bottom: 43px;
	}
	.areaSpecial .thecontent p img {
	    margin-bottom: -30px;
	}

	/*.areaInformation*/

	.areaInformation {
		background: transparent;
		padding: 0 0 118px;
		text-align: center;
	}
	.areaInformation .inner {
		padding: 0;
	}
	.areaInformation .titleInfor {
		display: inline-block;
		position: relative;
		font-size: 18px;
		margin-bottom: 26px;
		padding-right: 15px;
	}
	.areaInformation .titleInfor:before {
		content: "";
		position: absolute;
		top: 60%;
    	right: -13px;
		background: url(../images/detail/infor-icon-title2.svg) no-repeat;
		width: 21px;
		height: 27px;
		transform: translateY(-50%);
	}
	.areaInformation .postList {
		margin: 0;
		text-align: left;
		width: 100%;
	}
	.areaInformation .postList .listItem .wrapPhoto img {
		width: 100%;
		height: 100%;
    	object-fit: cover;
	}
	.areaInformation .postList .listItem .subInfor {
		padding: 15px 17px 14px 19px;
    	letter-spacing: -0.3px;
	}

	.areaInformation .slick-next,
	.areaInformation .slick-prev {
		background: url(../images/detail/infor-arrows-icon.svg) no-repeat;
		background-size: 25px;
		width: 25px;
		height: 25px;
		top: 33.3%;
		z-index: 1;
	}
	.areaInformation .slick-prev {
		left: -13px;
	}
	.areaInformation .slick-next {
		right: -13px;
		transform: translate(0, -50%) rotate(180deg);
	}
	.areaInformation .slick-next:before,
	.areaInformation .slick-prev:before {
		content: none;
	}

	.slick-dots {
		bottom: -43px;
		padding-right: 5px;
	}
	.slick-dots li {
		border: 1px solid #9ea91c;
		border-radius: 50%;
		width: 6px;
		height: 6px;
		padding: 2px;
		margin: 0 6px;
	}
	.slick-dots li button {
		width: 6px;
		height: 6px;
		padding: 2px;
	}
	.slick-dots li.slick-active {
		background: #9ea91c;
	}
	.slick-dots li button:before {
		content: none;
	}
}

@media (max-width: 450px) {
	.areaInformation .postList .listItem .wrapPhoto {
		height: 159px;
		margin-bottom: 11px;
	}
}