@charset "utf-8";

/***************************************************************************
*
* TOURISM STYLE
*
***************************************************************************/

.pageTourism {
    padding-bottom: 160px;
    padding-top: 14px;
}

.inner {
    width: 1000px;
}

.loading {
  position: relative;
}

.postList.loading .listItem{
    opacity: 0.3;
}

.loading::after,
.loading::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid;
  border-color: transparent transparent #000 #000;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loading::before {
  width: 48px;
  height: 48px;
  border-color: red red transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
     


/* SUB CAT SELECT */
.subCatList {
    width: 800px;
    margin: 31px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.subCatList li {
    width: 250px;
    border-top: 1px solid #777777;
    border-left: 1px solid #777777;
    border-bottom: 1px solid #777777;
    background-color: #FFF;
    margin-bottom: 10px;
}
.subCatList li:nth-child(3n) {
    border-right: 1px solid #777777;
}
.subCatList li a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #777777;
    letter-spacing: 1px;
    padding: 1px 5px;
}
.subCatList li.active{
    border-color: #B9C15B;
    background-color: #B9C15B;
}
.subCatList li:hover {
    background-color: #B9C15B;
}
.subCatList li.active a,
.subCatList li:hover a {
    color: #FFF;
}


/* SP STYLE */
@media (max-width: 767px) {

    #content {
        padding-top: 30px;
    }

    .pageTourism {
        padding-bottom: 100px;
        padding-top: 0;
    }

    .inner {
        width: 100%;
    }

    .subCatList {
        width: 100%;
        justify-content: space-between;
        padding: 0 6%;
    }
    .subCatList li {
        width: 48.5%;
        border: 1px solid #777777;
        margin-bottom: 3%;
    }
    .subCatList li a {
        font-size: 14px;
        padding: 4px 5px;
    }

    .postMobiSearch {
        width: 100%;
        padding: 0 6%;
    }
    .postMobiSearch .wrapSearch {
        width: 100%;
        border: 1px solid #777777;
        position: relative;
        background-color: #FFF;
    }
    .postMobiSearch .wrapSearch .searchInput {
        width: calc(100% - 40px);
        height: 46px;
        border: none;
        font-size: 13px;
        padding: 0px 15px;
    }
    .postMobiSearch .wrapSearch .searchInput::placeholder {
        color: #D2D2D2;
    }
    .postMobiSearch .wrapSearch .searchSubmit {
        width: 19px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: url(../images/tourism/search_icon.png) no-repeat center center;
        background-size: 100%;
        text-indent: 999999px;
    }

}