@font-face {
    font-family: 'Gabriola';
    src: url('Gabriola.eot');
    src: url('Gabriola.eot?#iefix') format('embedded-opentype'),
        url('Gabriola.woff2') format('woff2'),
        url('Gabriola.woff') format('woff'),
        url('Gabriola.svg#Gabriola') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

